# Loading Data

In [1]:
import pandas as pd  # type: ignore

df = pd.read_csv('D:\Project\ML final project\salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,MI,FT,Data Scientist,120000,USD,120000,AU,0,AU,S
1,2024,MI,FT,Data Scientist,70000,USD,70000,AU,0,AU,S
2,2024,MI,CT,Data Scientist,130000,USD,130000,US,0,US,M
3,2024,MI,CT,Data Scientist,110000,USD,110000,US,0,US,M
4,2024,MI,FT,Data Science Manager,240000,USD,240000,US,0,US,M

# Preprocessing Data

## Seperating Data into X and y

In [2]:
y = df[['salary', 'salary_currency', 'salary_in_usd']]
X = df.drop(['salary', 'salary_currency', 'salary_in_usd'], axis = 1)

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16494 entries, 0 to 16493
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           16494 non-null  int64
 1   experience_level    16494 non-null  object
 2   employment_type     16494 non-null  object
 3   job_title           16494 non-null  object
 4   employee_residence  16494 non-null  object
 5   remote_ratio        16494 non-null  int64
 6   company_location    16494 non-null  object
 7   company_size        16494 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.0+ MB

In [4]:
X['work_year'].value_counts()

work_year
2023    8519
2024    6027
2022    1655
2021     218
2020      75
Name: count, dtype: int64

In [5]:
X['remote_ratio'].value_counts()

remote_ratio
0      11084
100     5161
50       249
Name: count, dtype: int64

## One Hot Encoding 
Turn the categories in X into numbers

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
categorical_features = ['work_year',
                        'experience_level',
                        'employment_type',
                        'job_title',
                        'employee_residence',
                        'remote_ratio',
                        'company_location',
                        'company_size']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',one_hot, categorical_features)], remainder= 'passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

<16494x339 sparse matrix of type '<class 'numpy.float64'>'
	with 131952 stored elements in Compressed Sparse Row format>

In [16]:
# pd.DataFrame(transformed_X)
transformed_X = transformed_X.toarray()

In [8]:
categorical_features_y = ['salary_currency']
one_hot_y = OneHotEncoder()
transformer_y = ColumnTransformer([('one_hot', one_hot_y, categorical_features_y)], remainder= 'passthrough')
transformed_y = transformer_y.fit_transform(y)
transformed_y

<16494x25 sparse matrix of type '<class 'numpy.float64'>'
	with 49482 stored elements in Compressed Sparse Row format>

In [17]:
# pd.DataFrame(transformed_y)
transformed_y = transformed_y.toarray()

## Splitting Data

In [18]:
from sklearn.model_selection import train_test_split # type: ignore

X_train, X_test, y_train, y_test = train_test_split(transformed_X, transformed_y, test_size= 0.2, random_state= 100)

# Model Linear Regression

In [19]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [31]:
y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

In [36]:
encoder = OneHotEncoder()
y_train_normal = encoder.inverse_transform(y_train_pred)

NotFittedError: This OneHotEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [33]:
from sklearn.metrics import mean_squared_error

lr_train_mse = mean_squared_error(y_train, y_train_pred)
lr_test_pred = mean_squared_error(y_test, y_test_pred)
# print(np.argmax(lr_train_mse))
# print(np.argmax(lr_test_pred))

0
0